


.main_block {
  padding: 20px;
  display: flex;flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}


.user_card {
  background: #fff;
  border-radius: 12px;
  padding: 12px;
  position: relative;
}

.user_card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

.user_card p {
  margin: 4px 0;
  font-size: 14px;
  color: #333;
}

.price {
  font-weight: bold;
  color: #2e7d32;
}


.premium {
  position: absolute;
  top: 10px;
  left: 10px;
  background: gold;
  color: #000;
  padding: 4px 8px;
  border-radius: 6px;
  font-size: 12px;
  font-weight: bold;
}
